
<table width="170" border="1" cellspacing="0" cellpadding="1">
  <tr><td colspan="1"><font size="4" face="Arial, Helvetica, sans-serif"><b>Legend</b></font></td>
  </tr>
  <tr> 
    <td width="140" height="50"><img src="<TMPL_VAR NAME="IMAGE_DIR">/hit.png" width="135" height="20"></td>
    
 
  </tr>
  <tr> 
    <td width="140" height="2"><font face="Arial, Helvetica, sans-serif"><i><font size="1">Detected 
      binding site (sequence, link, orientation)</font></i></font></td>
    
    
  </tr>
</table>
