
<table width="610" border="1" cellspacing="0" cellpadding="3">
  <tr> 
    <td colspan="7"><font size="4" face="Arial, Helvetica, sans-serif"><b>Legend</b></font></td>
  </tr>
  <tr> 
    <td width="79" height="31"> 
      <div align="center"><img src="<TMPL_VAR NAME="IMAGE_DIR">/blue.png" width="79" height="6"></div>
    </td>
    <td width="81" height="31"> 
      <p align="center"><font face="Arial, Helvetica, sans-serif"><img src="<TMPL_VAR NAME="IMAGE_DIR">/green.png" width="79" height="6"></font></p>
    </td>
    <td width="80" height="31"> 
      <div align="center"><font face="Arial, Helvetica, sans-serif"><img src="<TMPL_VAR NAME="IMAGE_DIR">/yellow.png" width="79" height="18"></font></div>
    </td>
    <td width="79" height="31"> 
      <div align="center"><a href="grey_area.png"><img src="<TMPL_VAR NAME="IMAGE_DIR">/grey_area.png" width="79" height="18" border="0"></a></div>
    </td>
    <td width="84" height="31"> 
      <div align="center"><img src="<TMPL_VAR NAME="IMAGE_DIR">/bs.png" width="81" height="35"></div>
    </td>
    <td width="181" height="31"> 
      <div align="center"><img src="<TMPL_VAR NAME="IMAGE_DIR">/dots.png" width="72" height="8"></div>
    </td>
    <td width="181" height="31"> 
      <div align="center"><img src="<TMPL_VAR NAME="IMAGE_DIR">/plot.png" width="66" height="35"></div>
    </td>
  </tr>
  <tr> 
    <td width="79" height="42"><i><font size="1" face="Arial, Helvetica, sans-serif" color="#30B0C8"><TMPL_VAR NAME="SEQ1NAME">&nbsp;</font></i></td>
    <td width="81" height="42"> 
      <p><i><font size="1" face="Arial, Helvetica, sans-serif" color="#1FD100"><TMPL_VAR NAME="SEQ2NAME">&nbsp; </font></i></p>
    </td>
    <td width="80" height="42"><i><font size="1" face="Arial, Helvetica, sans-serif">Coding 
      region</font></i></td>
    <td width="79" height="42"><i><font size="1" face="Arial, Helvetica, sans-serif">Non-displayed 
      region</font></i></td>
    <td width="84" height="42"><i><font size="1" face="Arial, Helvetica, sans-serif">Detected 
      binding site (clickable)</font></i></td>
    <td width="181" height="42"><i><font size="1" face="Arial, Helvetica, sans-serif">Conservation 
      cutoff </font></i></td>
    <td width="181" height="42"><i><font size="1" face="Arial, Helvetica, sans-serif">Percent 
      identity</font></i></td>
  </tr>
</table>

