<html>
<head>
<title>Consite-sequence entry</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<div align="center"> 
  <p><img src="../seqentry.gif" width="188" height="47"> </p>
  <h5><font face="Arial, Helvetica, sans-serif"><i>Enter two orthologous genomic 
    sequences and a cDNA (optional) or exon positions (optional)</i></font></h5>
  <table width="72%" border="0" height="51">
    <tr> 
      <td width="24%" height="36" align="left" valign="top"> 
        <div align="right"><font face="Arial, Helvetica, sans-serif" size="4"><i><b>Sequence#1</b></i></font></div>
      </td>
      <td width="76%" bgcolor="#FFFFFF" height="36"> 
        <form name="form1" >
          <textarea name="textfield2" cols="40" rows="4"></textarea>
        </form>
      </td>
    </tr>
    <tr> 
      <td width="24%" align="left" valign="top">&nbsp;</td>
      <td width="76%" bgcolor="#FFFFFF"> 
        <form name="form3" enctype="multipart/form-data">
          <input type="file" name="file">
        </form>
      </td>
    </tr>
    <tr> 
      <td width="24%" align="left" valign="top"> 
        <p align="right"><font face="Arial, Helvetica, sans-serif" size="4"><b><i>cDNA </i></b></font><b><i><font face="Arial, Helvetica, sans-serif" size="4">(optional)</font></i></b></p>
      </td>
      <td width="76%" bgcolor="#FFFFFF"> 
        <form name="form5" >
          <textarea name="textfield3" cols="40" rows="3"></textarea>
        </form>
      </td>
    </tr>
    <tr> 
      <td width="24%" align="left" valign="top">&nbsp;</td>
      <td width="76%" bgcolor="#FFFFFF"> 
        <form name="form6" enctype="multipart/form-data">
          <input type="file" name="file3">
        </form>
      </td>
    </tr>
    <tr> 
      <td width="24%" align="left" valign="top"> 
        <div align="right"><font face="Arial, Helvetica, sans-serif" size="4"><b><i>Exon positions (optional) </i></b></font></div>
      </td>
      <td width="76%" bgcolor="#FFFFFF">
        <input type="file" name="file2">
      </td>
    </tr>
    <tr> 
      <td width="24%" align="left" valign="top"> 
        <form name="form8" >
        </form>
      </td>
      <td width="76%" bgcolor="#FFFFFF"> 
        <form name="form7" >
          <a href="../selection_frameset.htm" target="_top"> 
          <input type="submit" name="Submit" value="Submit">
          next page </a> 
        </form>
      </td>
    </tr>
    <tr> 
      <td width="24%" align="left" valign="top">&nbsp;</td>
      <td width="76%" bgcolor="#FFFFFF">&nbsp;</td>
    </tr>
  </table>
  <p align="left">&nbsp;</p>
  <p align="center">&nbsp;</p>
</div>
</body>
</html>
