<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<table width="443" border="0" cellspacing="0" cellpadding="0">
  <form method=post action="something.cgi">
    <tr> 
      <td  bgcolor="#FFFFCC"> 
        <p><b><i><font face="Arial, Helvetica, sans-serif" size="3">select ALL profiles </font></i></b></font></p>
      </td>
    </tr>
    <tr> 
      <td ><font size="2"> 
        <input type="checkbox" name="checkbox" value="checkbox">
        with a min. information of 
        <input type="text" name="textfield" size="4">
        </font><font size="2">bits </font></td>
    </tr>
    <tr align="right"> 
      <td nowrap height="24"  bgcolor="#FFFFCC"> 
        <div align="left"> 
          <input type="submit" name="Submit2" value="Submit">
        </div>
      </td>
    </tr>
    <tr> 
      <td  ><font size="2">
        <pre> </pre>
        </font></td>
    </tr>
    <tr bgcolor="#FFFFCC"> 
      <td  ><font size="2"><b><i>OR </i></b></font></td>
    </tr>
  </form>
</table>
</body>
</html>
