<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<table border="1">
  <tr> 
    <th rowspan="2">Transcription factor</th>
    <th colspan="6" bgcolor="#CCFFFF">Human_IR</th>
    <th colspan="7" bgcolor="#CCFFCC">Mouse_IR</th>
  </tr>
  <tr> 
    <td bgcolor="#CCFFFF" colspan="2">Sequence</td>
    <td bgcolor="#CCFFFF">From</td>
    <td bgcolor="#CCFFFF">To</td>
    <td bgcolor="#CCFFFF">Score</td>
    <td bgcolor="#CCFFFF">Strand</td>
    <td bgcolor="#CCFFCC" colspan="2">Sequence</td>
    <td bgcolor="#CCFFCC">From</td>
    <td bgcolor="#CCFFCC">To</td>
    <td bgcolor="#CCFFCC">Score</td>
    <td bgcolor="#CCFFCC">Strand</td>
  </tr>
  <tr> 
    <td bgcolor="white"><a target="_blank" href="http://forkhead.cgr.ki.se/cgi-bin/jaspartf?ID=MA0020&amp;score1=8.012&amp;score2=7.795&amp;pos1=712&amp;pos2=717&amp;seq1=Human_IR&amp;seq2=Mouse_IR" onclick="window.open('http://forkhead.cgr.ki.se/cgi-bin/jaspartf?ID=MA0020&amp;score1=8.012&amp;score2=7.795&amp;pos1=712&amp;pos2=717&amp;seq1=Human_IR&amp;seq2=Mouse_IR', 'TFprofile', 'height=400,width=500,toolbar=no,menubar=no,scrollbars=yes,resizable=yes'); return false;">Dof2</a></td>
    <td bgcolor="#CCFFFF">&nbsp;</td>
    <td bgcolor="white">GCCTTT</td>
    <td bgcolor="white">712</td>
    <td bgcolor="white">717</td>
    <td bgcolor="white">8.012</td>
    <td bgcolor="white">-</td>
    <td bgcolor="#CCFFCC">&nbsp;</td>
    <td bgcolor="white">ACCTTT</td>
    <td bgcolor="white">717</td>
    <td bgcolor="white">722</td>
    <td bgcolor="white">7.795</td>
    <td bgcolor="white">-</td>
  </tr>
  <tr> 
    <td bgcolor="white"><a target="_blank" href="http://forkhead.cgr.ki.se/cgi-bin/jaspartf?ID=MA0040&amp;score1=12.339&amp;score2=12.339&amp;pos1=753&amp;pos2=757&amp;seq1=Human_IR&amp;seq2=Mouse_IR" onclick="window.open('http://forkhead.cgr.ki.se/cgi-bin/jaspartf?ID=MA0040&amp;score1=12.339&amp;score2=12.339&amp;pos1=753&amp;pos2=757&amp;seq1=Human_IR&amp;seq2=Mouse_IR', 'TFprofile', 'height=400,width=500,toolbar=no,menubar=no,scrollbars=yes,resizable=yes'); return false;">HFH-1</a></td>
    <td bgcolor="#CCFFFF">&nbsp;</td>
    <td bgcolor="white">CGTTGTTTACG</td>
    <td bgcolor="white">753</td>
    <td bgcolor="white">763</td>
    <td bgcolor="white">12.339</td>
    <td bgcolor="white">+</td>
    <td bgcolor="#CCFFCC">&nbsp;</td>
    <td bgcolor="white">CGTTGTTTACG</td>
    <td bgcolor="white">757</td>
    <td bgcolor="white">767</td>
    <td bgcolor="white">12.339</td>
    <td bgcolor="white">+</td>
  </tr>
  <tr> 
    <td bgcolor="white"><a target="_blank" href="http://forkhead.cgr.ki.se/cgi-bin/jaspartf?ID=MA0031&amp;score1=14.670&amp;score2=14.670&amp;pos1=755&amp;pos2=759&amp;seq1=Human_IR&amp;seq2=Mouse_IR" onclick="window.open('http://forkhead.cgr.ki.se/cgi-bin/jaspartf?ID=MA0031&amp;score1=14.670&amp;score2=14.670&amp;pos1=755&amp;pos2=759&amp;seq1=Human_IR&amp;seq2=Mouse_IR', 'TFprofile', 'height=400,width=500,toolbar=no,menubar=no,scrollbars=yes,resizable=yes'); return false;">FREAC-4</a></td>
    <td bgcolor="#CCFFFF">&nbsp;</td>
    <td bgcolor="white">TTGTTTAC</td>
    <td bgcolor="white">755</td>
    <td bgcolor="white">762</td>
    <td bgcolor="white">14.670</td>
    <td bgcolor="white">-</td>
    <td bgcolor="#CCFFCC">&nbsp;</td>
    <td bgcolor="white">TTGTTTAC</td>
    <td bgcolor="white">759</td>
    <td bgcolor="white">766</td>
    <td bgcolor="white">14.670</td>
    <td bgcolor="white">-</td>
  </tr>
  <tr> 
    <td bgcolor="white"><a target="_blank" href="http://forkhead.cgr.ki.se/cgi-bin/jaspartf?ID=MA0006&amp;score1=9.288&amp;score2=9.288&amp;pos1=1106&amp;pos2=1071&amp;seq1=Human_IR&amp;seq2=Mouse_IR" onclick="window.open('http://forkhead.cgr.ki.se/cgi-bin/jaspartf?ID=MA0006&amp;score1=9.288&amp;score2=9.288&amp;pos1=1106&amp;pos2=1071&amp;seq1=Human_IR&amp;seq2=Mouse_IR', 'TFprofile', 'height=400,width=500,toolbar=no,menubar=no,scrollbars=yes,resizable=yes'); return false;">Ahr-ARNT</a></td>
    <td bgcolor="#CCFFFF">&nbsp;</td>
    <td bgcolor="white">GGCGTG</td>
    <td bgcolor="white">1106</td>
    <td bgcolor="white">1111</td>
    <td bgcolor="white">9.288</td>
    <td bgcolor="white">+</td>
    <td bgcolor="#CCFFCC">&nbsp;</td>
    <td bgcolor="white">GGCGTG</td>
    <td bgcolor="white">1071</td>
    <td bgcolor="white">1076</td>
    <td bgcolor="white">9.288</td>
    <td bgcolor="white">+</td>
  </tr>
  <tr> 
    <td bgcolor="#ffff7f"><a target="_blank" href="http://forkhead.cgr.ki.se/cgi-bin/jaspartf?ID=MA0098&amp;score1=8.001&amp;score2=8.079&amp;pos1=1271&amp;pos2=1238&amp;seq1=Human_IR&amp;seq2=Mouse_IR" onclick="window.open('http://forkhead.cgr.ki.se/cgi-bin/jaspartf?ID=MA0098&amp;score1=8.001&amp;score2=8.079&amp;pos1=1271&amp;pos2=1238&amp;seq1=Human_IR&amp;seq2=Mouse_IR', 'TFprofile', 'height=400,width=500,toolbar=no,menubar=no,scrollbars=yes,resizable=yes'); return false;">c-MYB_1</a></td>
    <td bgcolor="#CCFFFF">&nbsp;</td>
    <td bgcolor="#ffff7f">GGCGGTGG</td>
    <td bgcolor="#ffff7f">1271</td>
    <td bgcolor="#ffff7f">1278</td>
    <td bgcolor="#ffff7f">8.001</td>
    <td bgcolor="#ffff7f">+</td>
    <td bgcolor="#CCFFCC">&nbsp;</td>
    <td bgcolor="#ffff7f">GGCCGTGG</td>
    <td bgcolor="#ffff7f">1238</td>
    <td bgcolor="#ffff7f">1245</td>
    <td bgcolor="#ffff7f">8.079</td>
    <td bgcolor="#ffff7f">+</td>
  </tr>
  <tr> 
    <td bgcolor="#ffff7f"><a target="_blank" href="http://forkhead.cgr.ki.se/cgi-bin/jaspartf?ID=MA0057&amp;score1=10.371&amp;score2=10.371&amp;pos1=1302&amp;pos2=1269&amp;seq1=Human_IR&amp;seq2=Mouse_IR" onclick="window.open('http://forkhead.cgr.ki.se/cgi-bin/jaspartf?ID=MA0057&amp;score1=10.371&amp;score2=10.371&amp;pos1=1302&amp;pos2=1269&amp;seq1=Human_IR&amp;seq2=Mouse_IR', 'TFprofile', 'height=400,width=500,toolbar=no,menubar=no,scrollbars=yes,resizable=yes'); return false;">Max</a></td>
    <td bgcolor="#CCFFFF">&nbsp;</td>
    <td bgcolor="#ffff7f">GGCCACCTGT</td>
    <td bgcolor="#ffff7f">1302</td>
    <td bgcolor="#ffff7f">1311</td>
    <td bgcolor="#ffff7f">10.371</td>
    <td bgcolor="#ffff7f">+</td>
    <td bgcolor="#CCFFCC">&nbsp;</td>
    <td bgcolor="#ffff7f">GGCCACCTGT</td>
    <td bgcolor="#ffff7f">1269</td>
    <td bgcolor="#ffff7f">1278</td>
    <td bgcolor="#ffff7f">10.371</td>
    <td bgcolor="#ffff7f">+</td>
  </tr>
</table>


</body>
</html>






