<script language="JavaScript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v3.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>

  <table width="170" border="0" cellspacing="0" cellpadding="0" name="left" height="800" align="left" background="">
  <form name="modeform" action="<TMPL_VAR NAME="REL_CGI_BIN_DIR">/consite" method="POST">
  <tr>
    <td colspan="4" align="center"><img src="<TMPL_VAR NAME='IMAGE_DIR'>/logga1small.gif" width="103" height="89">  
      <INPUT type="hidden" name="mode" value="Graphical">
      <TMPL_VAR NAME="HIDDEN">
     </td>
    </tr>
    <tr> 
      <td> 
        <div align="center"> </div>
      </td>
    </tr>
    <tr> 
      <td colspan="4" > 
        <div align="center"><a href="<TMPL_VAR NAME="REL_CGI_BIN_DIR">/consite"
                           onMouseOut="MM_swapImgRestore()"
			   onMouseOver="MM_swapImage('Image8','','<TMPL_VAR NAME='IMAGE_DIR'>/home3.gif',1)">
			   <img name="Image8" border="0" src="<TMPL_VAR NAME='IMAGE_DIR'>/home.gif" width="140" height="30"></a></div>
      </td>
    </tr>
    <tr>
      <td colspan="4" >&nbsp;</td>
    </tr>
    <tr>
      <td colspan="4" >&nbsp;</td>
    </tr>

    <tr> 
      <td height="10" nowrap colspan="4"> 
        <div align="center"><i><b><font size="2">visual options</font></b></i></div>
      </td>
    </tr>
    <tr> 
      <td height="24" colspan="4" background="<TMPL_VAR NAME='IMAGE_DIR'>/up_backgr.gif">&nbsp; </td>
    </tr>
    <tr > 
      <td height="22" width="170"colspan="4" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_background.gif"> 
        <div align="center"><font size="2"><b><i>range</i></b></font></div>
      </td>
    </tr>
    <tr align="left" valign="top"> 
      <td width="17" nowrap height="22" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_left.gif">&nbsp;</td>
      <td nowrap width="60" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle_tiny.gif" height="22"><font size="1">from 
        </font></td>
      <td nowrap width="76" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle.gif" height="22"><font size="1"> 
        <input type="text" name="start_at" size="6" value="<TMPL_VAR NAME='START_AT'>">
        </font></td>
      <td width="17" nowrap height="22" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_right.gif">&nbsp;</td>
    </tr>
    <tr align="left" valign="top"> 
      <td width="17" nowrap height="22" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_left.gif">&nbsp;</td>
      <td nowrap width="60" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle_tiny.gif" height="22">
        <font size="1">to</font>
      </td>
      <td nowrap width="76" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle.gif" height="22"><font size="1"> 
        <input type="text" name="end_at" size="6" value="<TMPL_VAR NAME='END_AT'>">
        </font></td>
      <td width="17" nowrap height="22" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_right.gif">&nbsp;</td>
    </tr>
    <tr align="left" valign="top"> 
      <td width="17" nowrap height="21" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_left.gif">&nbsp; </td>
      <td nowrap width="136" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle.gif" height="21" colspan="2"> 
        <div align="left"><font size="1">relative to</font> </div>
      </td>
      <td width="17" nowrap height="21" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_right.gif">&nbsp; </td>
    </tr>
    <tr align="center" valign="top"> 
      <td background= "<TMPL_VAR NAME='IMAGE_DIR'>/middle_background.gif" nowrap colspan="4"> 
        <select name="rangeref">
          <option <TMPL_IF NAME="RANGEREF1">selected</TMPL_IF> value=1><TMPL_VAR NAME="SEQ1NAME"></option>
          <option <TMPL_IF NAME="RANGEREF2">selected</TMPL_IF> value=2><TMPL_VAR NAME="SEQ2NAME"></option>
          <TMPL_IF NAME="SEQ3NAME"><option <TMPL_IF NAME="RANGEREF3">selected</TMPL_IF> value=3><TMPL_VAR NAME="SEQ3NAME"></option></TMPL_IF>
        </select>
      </td>
    </tr>
    <tr align="center" valign="top"> 
      <td background= "<TMPL_VAR NAME='IMAGE_DIR'>/middle_background.gif" nowrap colspan="4">&nbsp;</td>
    </tr>
    <tr align="left" valign="top"> 
      <td background= "<TMPL_VAR NAME='IMAGE_DIR'>/middle_background.gif" nowrap colspan="4"> 
        <div align="center"><b><i><font size="2">advanced </font></i></b></div>
      </td>
    </tr>
    <tr align="left" valign="top"> 
      <td width="17" nowrap height="19" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_left.gif">&nbsp;</td>
      <td nowrap width="136" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle.gif" height="19" colspan="2"><font size="1">conservation 
        cutoff</font></td>
      <td width="17" nowrap height="19" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_right.gif">&nbsp;</td>
    </tr>
    <tr align="left" valign="top"> 
      <td width="17" nowrap height="22" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_left.gif">&nbsp;</td>
      <td nowrap width="60" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle_tiny.gif" height="22">&nbsp;</td>
      <td nowrap width="76" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle.gif" height="22"><font size="1"> 
        <input type="text" name="cutoff" align="right" size="6" value="<TMPL_VAR NAME="CUTOFF">">%
        </font></td>
      <td width="17" nowrap height="22" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_right.gif">&nbsp;</td>
    </tr>
    <tr align="left" valign="top"> 
      <td width="17" nowrap height="21" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_left.gif">&nbsp;</td>
      <td nowrap width="136" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle.gif" height="21" colspan="2"><font size="1">window 
        size</font></td>
      <td width="17" nowrap height="21" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_right.gif">&nbsp;</td>
    </tr>
    <tr align="left" valign="top"> 
      <td width="17" nowrap height="22" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_left.gif">&nbsp;</td>
      <td nowrap width="60" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle_tiny.gif" height="22">&nbsp;</td>
      <td nowrap width="76" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle.gif" height="22"><font size="1"> 
        <input type="text" name="window" size="6" value="<TMPL_VAR NAME="WINDOW">">
        </font></td>
      <td width="17" nowrap height="22" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_right.gif">&nbsp;</td>
    </tr>
    <tr align="left" valign="top"> 
      <td width="17" nowrap height="10" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_left.gif">&nbsp;</td>
      <td nowrap width="136" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle.gif" height="10" colspan="2"><font size="1">TF score cutoff</font> </td>
      <td width="17" nowrap height="10" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_right.gif">&nbsp;</td>
    </tr>
    <tr align="left" valign="top"> 
      <td width="17" nowrap height="22" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_left.gif">&nbsp;</td>
      <td nowrap width="60" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle_tiny.gif" height="22">&nbsp;</td>
      <td nowrap width="76" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle.gif" height="22"><font size="1"> 
        <input type="text" name="threshold" size="6" value="<TMPL_VAR NAME="THRESHOLD">">%
        </font></td>
      <td width="17" nowrap height="22" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_right.gif" align="left">&nbsp;</td>
    </tr>
    <tr> 
      <td background= "<TMPL_VAR NAME='IMAGE_DIR'>/middle_background.gif" height="1" colspan="4">&nbsp;</td>
    </tr>
    <tr align="left" valign="top">
      <td width="17" nowrap height="21" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_left.gif">&nbsp;</td>
      <td nowrap width="136" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle.gif" height="21" colspan="2">
        <div align="center"><a href="#" 
	 onClick='document.modeform.mode.value="<TMPL_VAR NAME="MODE">"; document.modeform.submit() ; return false;' 
	onMouseOut="status=''; MM_swapImgRestore()" 
	onMouseOver="MM_swapImage('Image6','','<TMPL_VAR NAME='IMAGE_DIR'>/redraw2.gif',1)">
	<img name="Image6" border="0" src="<TMPL_VAR NAME='IMAGE_DIR'>/redraw.gif" width="124" height="30"></a></div>
      </td>
      <td width="17" nowrap height="21" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_right.gif">&nbsp;</td>
    </tr>
    <tr> 
      <td background= "<TMPL_VAR NAME='IMAGE_DIR'>/middle_background.gif" colspan="4" valign="center" height=24> 
        <div align="center"><font size="2"><b><i>present as</i></b></font></div>
      </td>
    </tr>

    <TMPL_UNLESS NAME="GRAPHICAL">
    <tr align="left" valign="top"> 
      <td width="17" nowrap height="21" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_left.gif">&nbsp; </td>
      <td nowrap width="136" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle.gif" height="21" colspan="2"> 
        <div align="center"><a href="#" onMouseOut="MM_swapImgRestore()" 
	 onClick='document.modeform.mode.value="Graphical"; document.modeform.submit() ; return false;' 
	onMouseOver="MM_swapImage('Image5','','<TMPL_VAR NAME='IMAGE_DIR'>/graph_view2.gif',1)">
	<img name="Image5" border="0" src="<TMPL_VAR NAME='IMAGE_DIR'>/graph_view.gif" width="124" height="30"></a></div>
      </td>
      <td width="17" nowrap height="21" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_right.gif">&nbsp; </td>
    </tr>
    </TMPL_UNLESS>

    <TMPL_UNLESS NAME="ALIGNMENT">
    <tr align="left" valign="top"> 
      <td width="17" nowrap height="21" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_left.gif">&nbsp;</td>
      <td nowrap width="136" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle.gif" height="21" colspan="2"> 
        <div align="center"><a href="#" onMouseOut="MM_swapImgRestore()"
	 onClick='document.modeform.mode.value="Alignment"; document.modeform.submit() ; return false;' 
	onMouseOver="MM_swapImage('Image3','','<TMPL_VAR NAME='IMAGE_DIR'>/align_small2.gif',1)">
	<img name="Image3" border="0" src="<TMPL_VAR NAME='IMAGE_DIR'>/align_small.gif" width="124" height="30"></a></div>
      </td>
      <td width="17" nowrap height="21" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_right.gif">&nbsp;</td>
    </tr>
    </TMPL_UNLESS>

    <TMPL_UNLESS NAME="TABLE">
    <tr align="left" valign="top"> 
      <td width="17" nowrap height="21" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_left.gif">&nbsp;</td>
      <td nowrap width="136" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_middle.gif" height="21" colspan="2"> 
        <div align="center"><a href="#" 
		 onClick='document.modeform.mode.value="Table"; document.modeform.submit() ; return false;' 
		 onMouseOut="MM_swapImgRestore()" 
		 onMouseOver="MM_swapImage('Image4','','<TMPL_VAR NAME='IMAGE_DIR'>/table_view2.gif',1)">
		 <img name="Image4" border="0" src="<TMPL_VAR NAME='IMAGE_DIR'>/table_view.gif" width="124" height="30"></a></div>
      </td>
      <td width="17" nowrap height="21" background="<TMPL_VAR NAME='IMAGE_DIR'>/middle_right.gif">&nbsp;</td>
    </tr>
    </TMPL_UNLESS>

    <tr> 
      <td background="<TMPL_VAR NAME='IMAGE_DIR'>/down_back.gif" colspan="4" height="30">&nbsp; </td>
    </tr>
    <tr> 
      <td colspan="4">&nbsp; </td>
    </tr>
    <tr> 
      <td colspan="4">&nbsp; </td>
    </tr>
    <tr> 
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr> 
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr> 
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr> 
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr> 
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr> 
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr> 
      <td colspan="4">&nbsp;</td>
    </tr>
    </FORM>
  </table>
