<html>
<head>
<title>The JASPAR database</title>
<body bgcolor =grey>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head><table width="400" border="1" cellspacing="0" cellpadding="5" align="left" bgcolor="white">
<tr><td align='center'><b><font face="Arial, Helvetica, sans-serif" size="4"><b>Site search mode</b><br><TMPL_VAR NAME=IMG> </td></tr>
<tr><td align='center'><b><font face="Arial, Helvetica, sans-serif" size="3">Table view</b><TMPL_VAR NAME=TABLE> </td></tr>
<tr><td><b><div align="center"><font face="Arial, Helvetica, sans-serif" size="3">Sequence view</font></div></b><pre><TMPL_VAR NAME=SEQ></pre> </td></tr>

</table>
