<html>
<head>
<title>The JASPAR database</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#ECECEC" text="#000000">
<div align="center"></div>
<table width="800" border="0" cellspacing="0" cellpadding="5" align="center" bgcolor="#FFFFFF">
  <tr> 
    <td colspan="4" nowrap> 
      <div align="center"> 
        <p><img src="file:///D|/web/nar_jaspar/jasparlogo.gif" width="400" height="281"></p>
        <p><b><font face="Verdana, Arial, Helvetica, sans-serif" size="3">The 
          high-quality transcription factor binding profile database</font></b></p>
      </div>
    </td>
  </tr>
  <tr> 
    <td width="217" bgcolor="#999999">&nbsp;</td>
    <td bgcolor="#CCCCCC" colspan="2">&nbsp;</td>
    <td width="86" bgcolor="#CCCCCC">&nbsp;</td>
  </tr>
  <tr> 
    <td colspan="4" bgcolor="#FFFFFF">
      <p><b><font size="2" face="Arial, Helvetica, sans-serif">JASPAR INFORMATION</font></b></p>
      <p>BRIEF DESCRIPTION</p>
      <p>&nbsp;</p>
      <p>DATA COLLECTION</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>FEATURES</p>
      <p>&nbsp;</p>
      <p>CREDITS</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>CITE US</p>
      <p>If you use the JASPAR database, please cite us:</p>
      <p>... Describing the datbase</p>
      <p>You might also be interseted in</p>
      <p>Lenhard, B. &amp; Wasserman, W. W. TFBS: Computational framework for 
        transcription factor binding site analysis. Bioinformatics 18, 1135-6 
        (2002). Describing the TFBS programming module, </p>
      <p> Lenhard, B. et al. Identification of conserved regulatory elements by 
        comparative genome analysis. J Biol 2, 13 (2003).</p>
      <p>&nbsp;</p>
    </td>
  </tr>
  <tr> 
    <td width="217" bgcolor="#999999">&nbsp;</td>
    <td bgcolor="#CCCCCC" colspan="2">&nbsp;</td>
    <td width="86" bgcolor="#CCCCCC">&nbsp;</td>
  </tr>
  <tr> 
    <td colspan="4" bgcolor="#FFFFFF"></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td width="217"> 
      <div align="center"><b><font size="2" face="Arial, Helvetica, sans-serif">JASPAR 
        INFORMATION</font></b></div>
    </td>
    <td colspan="2"> 
      <div align="center"><b><font size="2" face="Arial, Helvetica, sans-serif">DATA 
        DOWNLOAD</font></b></div>
    </td>
    <td width="86"> 
      <div align="center"><b><font size="2" face="Arial, Helvetica, sans-serif">LINKS</font></b></div>
    </td>
  </tr>
</table>
<p align="center"><a href="http://info.ki.se/index_en.html"><img src="logo_start_en.gif" width="300" height="81" border="0"></a>&nbsp;&nbsp;&nbsp; 
  <a href="http://www.cmmt.ubc.ca/"><img src="cmmtlogo33.gif" width="294" height="80" border="0"></a></p>
</body>
</html>
