useDynLib(CNEr, .registration=TRUE)
import(BiocGenerics)
import(Biostrings)
import(RSQLite)
import(GenomicRanges)

##exportPattern("^[^\\.]")

### -----------------------------------------------------------------
### Export S4 classes defined in CNEr
###
exportClasses(axt)

### -----------------------------------------------------------------
### Export S4 methods for generics not defined in CNEr
###
exportMethods(
  "[", 
  c
)

### -----------------------------------------------------------------
### Export non-generic functions
###

export(
  reverseCigar
)

### -----------------------------------------------------------------
### Export S4 generics defined in CNEr + export corresponding methods
###

export(

)
