useDynLib(CNEr, .registration=TRUE)
import(BiocGenerics)
import(Biostrings)
import(RSQLite)
import(GenomicRanges)

##exportPattern("^[^\\.]")

### -----------------------------------------------------------------
### Export S4 classes defined in CNEr
###
exportClasses(axt)

### -----------------------------------------------------------------
### Export S4 methods for generics not defined in CNEr
###
exportMethods(
  "[", 
  c,
  ## class.r
  length,
  score
)

### -----------------------------------------------------------------
### Export non-generic functions
###

export(
  ## utils.r
  reverseCigar,
  binFromCoordRange,
  binRangesFromCoordRange,
  binRestrictionString

  ## class.r
  axt

  ## ceScan.r
  ceScan, ceScanFile
  ceMerge,
  blatCNE,
  detectCNEs

  ## makeGeneDbFromUCSC.r
  supportedUCSCtables,
  queryrefGene, queryknownGene, queryensGene,
  makeGeneDbFromUCSC
)

### -----------------------------------------------------------------
### Export S4 generics defined in CNEr + export corresponding methods
###

export(
  ## class.r
  targetRanges, queryRanges
  targetSeqs, querySeqs
  symCount
  subAxt

  ## io.r
  readAxt,
  readBedToGRanges,
  axtInfo

)
